@model SethWebster.OpenLogging.Models.User
@{
    ViewBag.Title = "Profile";
}

<h2>@Model.UserName (@Model.UserApiKey)</h2>

@Html.ActionLink("Create New Client", "CreateClient")
<ul id="client-list">
    @foreach (var c in Model.Clients)
    {
        <li>
            <div class='client-name'>@(c.ClientName) </div>
            <div class="client-api-key">@c.CurrentApiKey)</div>
        </li>
    }
</ul>
